* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    background: #f9fafb;
}

.screen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: min(420px, 95vw);
    margin: auto;
    padding: 24px;

    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 28px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
}

.card {
    width: 100%;
    background: #f0f7ff;
    border-radius: 16px;
    padding: 16px;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-top: 50px;
    
}

.card:nth-child(2) {
    background: #8398dd;
}


h2 {
    align-self: flex-start;
    color: #674D40;
    margin: 50px 0 00px
}
.label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #555;
}

.pill {
    background: #dbeafe;
    padding: 10px 14px;
    border-radius: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}

.date {
    display: flex;
    gap: 8px;
    justify-content: center;
    background: #2d2d2d;
    color: #fff;
    border-radius: 8px;
    padding: 10px;
}

.date select {
    background: transparent;
    border: none;
    color: #fff;
    /* білий текст у закритому полі */
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    outline: none;
    appearance: none;
    /* прибирає стандартну стрілку */
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 5px;
}

/* сам список, що відкривається */
.date select option {
    background: #fff;
    /* фон білий */
    color: #000;
    /* текст чорний */
    font-weight: 600;
}


.btn {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 14px;
    font-size: 16px;
    font-weight: 700;
    background: #E5BFBE;
    color: #fff;
    border-radius: 12px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #3d2a21;
}